nav h2 {
    cursor: pointer;
    color: var(--color-white);
}

nav {
    width: 100vw;
    height: 5rem;
    position: fixed;
    background: var(--color-primary);
    left: 0;
    top: 0;
    z-index: 10;
    box-shadow: 0 1rem 1.5rem hsla(var(--color-primary), 68%, 42%, 20%);
    transition: var(--transition);
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.nav-items li a {
    color: var(--color-white);
}

.nav-items li a:hover {
    color: var(--color-bg);
}

.theme_icon {
    background: transparent;
    color: var(--color-white);
    font-size: 2rem;
    cursor: pointer;
    transition: var(--transition);
}

.theme_icon:hover {
    transform: translateY(.2rem);
}

.nav_toggle-btn {
    display: none;
    background: transparent;
    color: var(--color-white);
    font-size: 2rem;
}

.active_link {
    border: 1px solid var(--color-white);
    padding: .5rem;
    border-radius: .5rem;
}

/* ----------Media Queries------------ */

/* Tablets */

@media screen and (max-width: 1024px) {
    .nav-items {
        display: none;
    }

    .nav_toggle-btn {
        display: inline-block;
        transition: var(--transition);
    }

    .nav_items-responsive {
        position: absolute;
        display: block;
        left: 0;
        top: 100%;
        transition: var(--transition);
        width: 100%;
        background: white;
    }

    .nav_items-responsive li {
        padding: 2rem;
        width: 100%;
        text-align: center;
    }
}